# Import Dataset through Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Desktop/athlete_events.csv')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

# Cities

In [3]:
cities = df['City']
cities

0              Barcelona
1                 London
2              Antwerpen
3                  Paris
4                Calgary
               ...
271111         Innsbruck
271112             Sochi
271113             Sochi
271114            Nagano
271115    Salt Lake City
Name: City, Length: 271116, dtype: object

In [4]:
cities = df['City'].unique()
cities

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

In [5]:
cities = df['City'].nunique()
cities

42

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

# Year

In [7]:
year = df['Year']
year

0         1992
1         2012
2         1920
3         1900
4         1988
          ...
271111    1976
271112    2014
271113    2014
271114    1998
271115    2002
Name: Year, Length: 271116, dtype: int64

In [9]:
year = df['Year'].unique()
year

array([1992, 2012, 1920, 1900, 1988, 1994, 1932, 2002, 1952, 1980, 2000,
       1996, 1912, 1924, 2014, 1948, 1998, 2006, 2008, 2016, 2004, 1960,
       1964, 1984, 1968, 1972, 1936, 1956, 1928, 1976, 2010, 1906, 1904,
       1908, 1896], dtype=int64)

In [10]:
year = df['Year'].nunique()
year

35

# ID

In [12]:
Id = df['ID']
Id

0              1
1              2
2              3
3              4
4              5
           ...
271111    135569
271112    135570
271113    135570
271114    135571
271115    135571
Name: ID, Length: 271116, dtype: int64

# Names

In [14]:
names = df['Name']
names

0                        A Dijiang
1                         A Lamusi
2              Gunnar Nielsen Aaby
3             Edgar Lindenau Aabye
4         Christine Jacoba Aaftink
                    ...
271111                  Andrzej ya
271112                    Piotr ya
271113                    Piotr ya
271114          Tomasz Ireneusz ya
271115          Tomasz Ireneusz ya
Name: Name, Length: 271116, dtype: object

In [15]:
names.unique()

array(['A Dijiang', 'A Lamusi', 'Gunnar Nielsen Aaby', ..., 'Andrzej ya',
       'Piotr ya', 'Tomasz Ireneusz ya'], dtype=object)

In [16]:
names.nunique()

134732

# Gender

In [17]:
gender = df['Sex']
gender

0         M
1         M
2         M
3         M
4         F
         ..
271111    M
271112    M
271113    M
271114    M
271115    M
Name: Sex, Length: 271116, dtype: object

In [18]:
male = df[df['Sex']=='M']
male

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [20]:
male.nunique()

ID        101590
Name      100979
Sex            1
Age           74
Height        92
Weight       206
Team        1154
NOC          230
Games         51
Year          35
Season         2
City          42
Sport         63
Event        554
Medal          3
dtype: int64

In [22]:
male = len(df[df['Sex']=='M'])
male

196594

In [23]:
female = df[df['Sex']=='F']
female

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [24]:
female.nunique()

ID        33981
Name      33808
Sex           1
Age          62
Height       77
Weight      140
Team        374
NOC         222
Games        50
Year         34
Season        2
City         42
Sport        53
Event       269
Medal         3
dtype: int64

In [25]:
female = len(df[df['Sex']=='F'])
female

74522

# Age

In [28]:
age = df['Age']
age

0         24.0
1         23.0
2         24.0
3         34.0
4         21.0
          ...
271111    29.0
271112    27.0
271113    27.0
271114    30.0
271115    34.0
Name: Age, Length: 271116, dtype: float64

In [29]:
age.unique()

array([24., 23., 34., 21., 25., 27., 31., 33., 18., 26., 22., 30., 32.,
       28., 54., 20., 17., 43., 47., 29., 41., 45., 49., 53., 57., nan,
       19., 38., 35., 16., 37., 15., 42., 46., 40., 36., 14., 39., 48.,
       52., 44., 55., 50., 71., 63., 51., 58., 13., 60., 75., 65., 56.,
       64., 68., 84., 12., 72., 59., 61., 70., 74., 62., 67., 69., 73.,
       66., 11., 76., 88., 96., 80., 10., 81., 77., 97.])

In [30]:
age.nunique()

74

In [93]:
Max = age[age.argmax()]
Max

97.0

In [94]:
Min = age[age.argmin()]
Min

10.0

In [34]:
df[df.Age==10]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze

# Height

In [35]:
height=df["Height"]

In [36]:
height

0         180.0
1         170.0
2           NaN
3           NaN
4         185.0
          ...
271111    179.0
271112    176.0
271113    176.0
271114    185.0
271115    185.0
Name: Height, Length: 271116, dtype: float64

In [37]:
height.unique()

array([180., 170.,  nan, 185., 188., 183., 168., 186., 182., 172., 159.,
       171., 184., 175., 189., 176., 163., 187., 169., 174., 190., 194.,
       177., 167., 164., 198., 165., 156., 179., 178., 166., 181., 155.,
       160., 173., 192., 195., 191., 203., 158., 154., 153., 152., 193.,
       162., 197., 157., 207., 147., 150., 202., 161., 210., 205., 200.,
       148., 208., 140., 213., 204., 151., 196., 146., 201., 132., 149.,
       199., 211., 215., 139., 206., 135., 142., 217., 209., 145., 221.,
       144., 214., 143., 218., 127., 223., 216., 141., 212., 131., 136.,
       137., 138., 220., 130., 219., 133., 128., 226.])

In [39]:
height.nunique()

95

In [40]:
height[height.argmax()]

226.0

In [41]:
height[height.argmin()]

127.0

In [42]:
df[df.Height==164]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
154,59,Ivan Nikolov Abadzhiev,M,24.0,164.0,71.0,Bulgaria,BUL,1956 Summer,1956,Summer,Melbourne,Weightlifting,Weightlifting Men's Lightweight,NaN
155,59,Ivan Nikolov Abadzhiev,M,28.0,164.0,71.0,Bulgaria,BUL,1960 Summer,1960,Summer,Roma,Weightlifting,Weightlifting Men's Middleweight,NaN
252,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
281,148,"Kathryn ""Katie"" Abbott",F,21.0,164.0,63.0,Canada,CAN,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Women's Three Person Keelboat,NaN
559,321,Ahmad Hassan Abdullah,M,27.0,164.0,55.0,Qatar,QAT,2008 Summer,2008,Summer,Beijing,Athletics,"Athletics Men's 10,000 metres",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270494,135291,Roman Volodymyrovych Zozulia,M,25.0,164.0,59.0,Ukraine,UKR,2004 Summer,2004,Summer,Athina,Gymnastics,Gymnastics Men's Parallel Bars,NaN
270495,135291,Roman Volodymyrovych Zozulia,M,25.0,164.0,59.0,Ukraine,UKR,2004 Summer,2004,Summer,Athina,Gymnastics,Gymnastics Men's Horizontal Bar,NaN
270496,135291,Roman Volodymyrovych Zozulia,M,25.0,164.0,59.0,Ukraine,UKR,2004 Summer,2004,Summer,Athina,Gymnastics,Gymnastics Men's Rings,NaN
270497,135291,Roman Volodymyrovych Zozulia,M,25.0,164.0,59.0,Ukraine,UKR,2004 Summer,2004,Summer,Athina,Gymnastics,Gymnastics Men's Pommelled Horse,NaN
270855,135461,Jan urawski,M,28.0,164.0,66.0,Poland,POL,1960 Summer,1960,Summer,Roma,Wrestling,"Wrestling Men's Featherweight, Freestyle",NaN

In [43]:
hgt=df[df.Height==164]
hgt.Sex=="M"

154        True
155        True
252       False
281       False
559        True
          ...
270494     True
270495     True
270496     True
270497     True
270855     True
Name: Sex, Length: 3911, dtype: bool

In [44]:
hgt.Sex=='F'

154       False
155       False
252        True
281        True
559       False
          ...
270494    False
270495    False
270496    False
270497    False
270855    False
Name: Sex, Length: 3911, dtype: bool

# Weight

In [46]:
weight=df["Weight"]
weight

0         80.0
1         60.0
2          NaN
3          NaN
4         82.0
          ...
271111    89.0
271112    59.0
271113    59.0
271114    96.0
271115    96.0
Name: Weight, Length: 271116, dtype: float64

In [47]:
weight.unique()

array([ 80.        ,  60.        ,          nan,  82.        ,
        75.        ,  72.        ,  96.        ,  76.5       ,
        70.        ,  55.5       ,  65.        ,  85.        ,
        64.        , 130.        , 125.        ,  89.        ,
        77.        ,  76.        ,  98.        ,  78.        ,
        73.        ,  93.        ,  74.        , 106.        ,
        58.        ,  66.        ,  71.        ,  90.        ,
        87.        ,  49.        ,  48.        ,  83.        ,
        86.        ,  55.        ,  67.        ,  97.        ,
       105.        ,  43.        ,  79.        ,  51.        ,
        88.        ,  62.        ,  53.        , 104.        ,
        57.        ,  63.        ,  52.        ,  91.        ,
        94.        ,  56.        ,  68.        ,  61.        ,
        69.        ,  46.        , 100.        ,  81.        ,
        92.        , 120.        ,  95.        ,  59.        ,
        50.        , 117.5       ,  54.        ,  47.        ,
       117.        ,  84.        , 102.        ,  40.        ,
       115.        , 110.        ,  45.        ,  99.        ,
       109.        ,  69.5       , 135.        ,  38.        ,
        77.5       , 103.        , 163.        , 113.        ,
        42.        ,  91.5       ,  82.5       ,  68.5       ,
       116.        , 107.        ,  96.5       ,  83.5       ,
        44.        , 122.        , 102.5       ,  71.5       ,
       156.        , 150.        , 160.        ,  95.5       ,
       101.        , 146.        , 138.        , 112.        ,
       108.        , 140.        , 141.        ,  63.5       ,
       114.        , 118.        ,  52.5       , 127.        ,
        39.        ,  73.5       , 155.        ,  74.5       ,
        32.        , 143.        , 133.        ,  70.5       ,
       126.        ,  53.5       , 121.        ,  67.5       ,
       111.        , 123.5       ,  41.        ,  36.        ,
       132.        , 128.        ,  65.5       ,  98.5       ,
       124.        ,  59.5       ,  66.5       , 127.5       ,
        35.        , 144.        ,  58.5       , 214.        ,
        81.5       ,  37.        , 146.5       , 116.5       ,
       148.        , 123.        ,  89.5       , 133.5       ,
        86.5       ,  85.5       , 101.5       , 154.        ,
       139.        ,  57.5       , 136.        ,  54.5       ,
       137.        , 170.        ,  30.        ,  25.        ,
        77.33333333, 131.        ,  79.5       ,  34.        ,
       119.        , 134.        ,  33.        , 109.5       ,
        90.5       , 129.        , 147.        ,  56.5       ,
        78.5       , 165.        ,  88.5       ,  62.5       ,
        60.5       , 158.        ,  75.5       , 190.        ,
        64.5       , 145.        , 121.5       ,  61.5       ,
       161.        , 176.5       ,  87.5       , 100.5       ,
       149.        , 152.        , 108.5       ,  28.        ,
        48.5       , 138.5       ,  72.5       , 129.5       ,
       131.5       , 167.        ,  84.5       ,  49.5       ,
        51.5       , 112.5       , 118.5       , 142.        ,
        80.5       , 106.5       , 107.5       ,  31.        ,
       135.5       , 137.5       ,  93.5       ,  97.5       ,
       103.5       , 175.        , 151.        , 198.        ,
       178.        ,  92.5       , 180.        , 104.5       ,
       105.5       , 122.5       , 182.        ,  74.66666667,
       130.5       ])

In [48]:
weight.nunique()

220

In [49]:
weight[weight.argmax()]

214.0

In [50]:
weight[weight.argmin()]

25.0

# Teams

In [51]:
team=df["Team"]
team

0                  China
1                  China
2                Denmark
3         Denmark/Sweden
4            Netherlands
               ...
271111          Poland-1
271112            Poland
271113            Poland
271114            Poland
271115            Poland
Name: Team, Length: 271116, dtype: object

In [52]:
team.unique()

array(['China', 'Denmark', 'Denmark/Sweden', ..., 'Solos Carex',
       'Dow Jones', 'Digby'], dtype=object)

In [53]:
team.nunique()

1184

# Games

In [55]:
games=df["Games"]
games

0         1992 Summer
1         2012 Summer
2         1920 Summer
3         1900 Summer
4         1988 Winter
             ...
271111    1976 Winter
271112    2014 Winter
271113    2014 Winter
271114    1998 Winter
271115    2002 Winter
Name: Games, Length: 271116, dtype: object

In [56]:
games.unique()

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1988 Winter', '1992 Winter', '1994 Winter', '1932 Summer',
       '2002 Winter', '1952 Summer', '1980 Winter', '2000 Summer',
       '1996 Summer', '1912 Summer', '1924 Summer', '2014 Winter',
       '1948 Summer', '1998 Winter', '2006 Winter', '2008 Summer',
       '2016 Summer', '2004 Summer', '1960 Winter', '1964 Winter',
       '1984 Winter', '1984 Summer', '1968 Summer', '1972 Summer',
       '1988 Summer', '1936 Summer', '1952 Winter', '1956 Winter',
       '1956 Summer', '1960 Summer', '1928 Summer', '1976 Summer',
       '1980 Summer', '1964 Summer', '2010 Winter', '1968 Winter',
       '1906 Summer', '1972 Winter', '1976 Winter', '1924 Winter',
       '1904 Summer', '1928 Winter', '1908 Summer', '1948 Winter',
       '1932 Winter', '1936 Winter', '1896 Summer'], dtype=object)

In [57]:
games.nunique()

51

# NOC

In [58]:
noc=df["NOC"]
noc

0         CHN
1         CHN
2         DEN
3         DEN
4         NED
         ...
271111    POL
271112    POL
271113    POL
271114    POL
271115    POL
Name: NOC, Length: 271116, dtype: object

In [59]:
noc.unique()

array(['CHN', 'DEN', 'NED', 'USA', 'FIN', 'NOR', 'ROU', 'EST', 'FRA',
       'MAR', 'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD',
       'RUS', 'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'FRG', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'ISV',
       'SRI', 'ARM', 'CIV', 'KEN', 'BEN', 'UKR', 'GBR', 'GHA', 'SOM',
       'LAT', 'NIG', 'MLI', 'AFG', 'POL', 'CRC', 'PAN', 'GEO', 'SLO',
       'CRO', 'GUY', 'NZL', 'POR', 'PAR', 'ANG', 'VEN', 'COL', 'BAN',
       'PER', 'ESA', 'PUR', 'UGA', 'HON', 'ECU', 'TKM', 'MRI', 'SEY',
       'TCH', 'LUX', 'MTN', 'CZE', 'SKN', 'TTO', 'DOM', 'VIN', 'JAM',
       'LBR', 'SUR', 'NEP', 'MGL', 'AUT', 'PLW', 'LTU', 'TOG', 'NAM',
       'AHO', 'ISL', 'ASA', 'SAM', 'RWA', 'DMA', 'HAI', 'MLT', 'CYP',
       'GUI', 'BIZ', 'YMD', 'KOR', 'THA', 'BER', 'ANZ', 'SCG', 'SLE',
       'PNG', 'YEM', 'IOA', 'OMA', 'FIJ', 'VAN', 'MDA', 'YUG', 'BAH',
       'GUA', 'SRB', 'IVB', 'MOZ', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM',
       'CAY', 'SVK', 'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO',
       'BOT', 'ROT', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CRT', 'GEQ',
       'BOL', 'SAA', 'AND', 'ANT', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'TGA',
       'LIE', 'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO',
       'BDI', 'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK',
       'TUV', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

In [60]:
noc.nunique()

230

# Sport

In [62]:
sports=df["Sport"]
sports

0            Basketball
1                  Judo
2              Football
3            Tug-Of-War
4         Speed Skating
              ...
271111             Luge
271112      Ski Jumping
271113      Ski Jumping
271114        Bobsleigh
271115        Bobsleigh
Name: Sport, Length: 271116, dtype: object

In [63]:
sports.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [64]:
sports.nunique()

66

# Event

In [65]:
event=df["Event"]
event

0                      Basketball Men's Basketball
1                     Judo Men's Extra-Lightweight
2                          Football Men's Football
3                      Tug-Of-War Men's Tug-Of-War
4                 Speed Skating Women's 500 metres
                            ...
271111                  Luge Mixed (Men)'s Doubles
271112    Ski Jumping Men's Large Hill, Individual
271113          Ski Jumping Men's Large Hill, Team
271114                        Bobsleigh Men's Four
271115                        Bobsleigh Men's Four
Name: Event, Length: 271116, dtype: object

In [66]:
event.unique()

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Cross Country Skiing Men's 10 kilometres",
       "Cross Country Skiing Men's 50 kilometres",
       "Cross Country Skiing Men's 10/15 kilometres Pursuit",
       "Cross Country Skiing Men's 4 x 10 kilometres Relay",
       "Cross Country Skiing Men's 30 kilometres",
       "Athletics Women's 100 metres",
       "Athletics Women's 4 x 100 metres Relay",
       "Ice Hockey Men's Ice Hockey",
       "Swimming Men's 400 metres Freestyle", "Badminton Men's Singles",
       "Sailing Women's Windsurfer",
       "Biathlon Women's 7.5 kilometres Sprint",
       "Swimming Men's 200 metres Breaststroke",
       "Swimming Men's 400 metres Breaststroke",
       "Gymnastics Men's Individual All-Around",
       "Gymnastics Men's Team All-Around",
       "Gymnastics Men's Floor Exercise", "Gymnastics Men's Horse Vault",
       "Gymnastics Men's Parallel Bars",
       "Gymnastics Men's Horizontal Bar", "Gymnastics Men's Rings",
       "Gymnastics Men's Pommelled Horse", "Athletics Men's Shot Put",
       'Art Competitions Mixed Sculpturing, Unknown Event',
       "Alpine Skiing Men's Downhill", "Alpine Skiing Men's Super G",
       "Alpine Skiing Men's Giant Slalom", "Alpine Skiing Men's Slalom",
       "Alpine Skiing Men's Combined", "Handball Women's Handball",
       "Weightlifting Women's Super-Heavyweight",
       "Wrestling Men's Light-Heavyweight, Greco-Roman",
       "Speed Skating Men's 500 metres",
       "Speed Skating Men's 1,500 metres",
       "Gymnastics Men's Team All-Around, Free System",
       "Luge Women's Singles", "Water Polo Men's Water Polo",
       'Sailing Mixed Three Person Keelboat', "Hockey Women's Hockey",
       "Rowing Men's Lightweight Double Sculls",
       "Athletics Men's Pole Vault", "Athletics Men's High Jump",
       "Sailing Men's Two Person Dinghy", "Athletics Men's 1,500 metres",
       "Bobsleigh Men's Four", "Swimming Men's 100 metres Butterfly",
       "Swimming Men's 200 metres Butterfly",
       "Swimming Men's 4 x 100 metres Medley Relay",
       "Football Women's Football", "Fencing Men's Foil, Individual",
       "Fencing Men's epee, Individual", "Fencing Men's epee, Team",
       "Speed Skating Men's 5,000 metres",
       "Speed Skating Men's 10,000 metres", 'Sailing Mixed 8 metres',
       'Equestrianism Mixed Jumping, Individual',
       "Cross Country Skiing Men's 15 kilometres",
       "Shooting Men's Small-Bore Rifle, Prone, 50 metres",
       "Shooting Men's Rapid-Fire Pistol, 25 metres",
       "Shooting Men's Trap", "Athletics Men's 4 x 100 metres Relay",
       "Athletics Men's Long Jump", "Boxing Men's Light-Welterweight",
       "Athletics Women's Javelin Throw",
       "Wrestling Men's Heavyweight, Freestyle",
       "Taekwondo Men's Flyweight", "Boxing Men's Heavyweight",
       "Athletics Men's 5,000 metres",
       "Cycling Men's Road Race, Individual",
       "Cycling Men's Road Race, Team", "Weightlifting Men's Lightweight",
       "Weightlifting Men's Middleweight", "Rowing Men's Coxless Pairs",
       "Judo Men's Half-Middleweight", "Taekwondo Women's Flyweight",
       "Boxing Men's Flyweight", "Basketball Women's Basketball",
       "Diving Men's Platform",
       "Canoeing Men's Canadian Doubles, 500 metres",
       "Canoeing Men's Canadian Doubles, 1,000 metres",
       "Canoeing Men's Kayak Fours, 1,000 metres",
       "Handball Men's Handball", "Rowing Women's Coxless Pairs",
       "Boxing Men's Middleweight", "Judo Men's Lightweight",
       "Boxing Men's Featherweight", "Tennis Men's Doubles",
       'Shooting Mixed Skeet', "Wrestling Men's Featherweight, Freestyle",
       'Sailing Mixed Two Person Heavyweight Dinghy',
       "Athletics Women's Shot Put", "Rowing Men's Coxed Eights",
       "Cycling Women's Sprint", "Cycling Women's 500 metres Time Trial",
       "Athletics Men's 110 metres Hurdles", 'Shooting Mixed Trap',
       "Athletics Women's Marathon", "Athletics Men's 100 metres",
       "Fencing Men's Foil, Team", "Fencing Men's Sabre, Team",
       "Swimming Men's 100 metres Freestyle",
       "Swimming Men's 4 x 200 metres Freestyle Relay",
       "Boxing Men's Lightweight", "Modern Pentathlon Men's Individual",
       "Boxing Men's Welterweight", "Rowing Men's Quadruple Sculls",
       "Rowing Men's Double Sculls", "Rowing Men's Coxed Pairs",
       "Athletics Men's 400 metres Hurdles", "Athletics Men's 400 metres",
       "Athletics Men's Hammer Throw",
       "Weightlifting Men's Featherweight", "Athletics Men's 800 metres",
       "Hockey Men's Hockey", "Alpine Skiing Women's Slalom",
       "Rowing Women's Single Sculls",
       "Swimming Men's 50 metres Freestyle",
       "Weightlifting Women's Featherweight",
       "Water Polo Women's Water Polo", "Figure Skating Men's Singles",
       "Weightlifting Men's Heavyweight",
       'Equestrianism Mixed Three-Day Event, Individual',
       'Equestrianism Mixed Three-Day Event, Team',
       'Figure Skating Mixed Team',
       "Sailing Women's Three Person Keelboat",
       "Cycling Women's Road Race, Individual", "Golf Women's Individual",
       "Softball Women's Softball", "Archery Women's Individual",
       "Wrestling Men's Heavyweight, Greco-Roman",
       "Volleyball Men's Volleyball", "Taekwondo Women's Heavyweight",
       "Synchronized Swimming Women's Duet",
       "Synchronized Swimming Women's Team",
       "Taekwondo Women's Featherweight", "Athletics Men's Marathon",
       "Athletics Men's 4 x 400 metres Relay",
       "Athletics Men's 10,000 metres", "Athletics Women's 3,000 metres",
       "Diving Women's Platform", "Shooting Men's Air Rifle, 10 metres",
       "Athletics Men's 200 metres", "Weightlifting Men's Flyweight",
       "Swimming Men's 100 metres Backstroke",
       "Weightlifting Men's Light-Heavyweight",
       "Wrestling Men's Lightweight, Greco-Roman",
       "Fencing Men's Sabre, Individual",
       "Wrestling Men's Super-Heavyweight, Greco-Roman",
       "Shooting Men's Free Pistol, 50 metres",
       "Shooting Men's Air Pistol, 10 metres",
       "Rowing Men's Coxless Fours", "Boxing Men's Light-Flyweight",
       "Boxing Men's Super-Heavyweight",
       "Wrestling Men's Flyweight, Greco-Roman",
       "Shooting Women's Air Rifle, 10 metres",
       "Weightlifting Men's Middle-Heavyweight",
       "Athletics Men's Javelin Throw", "Volleyball Women's Volleyball",
       "Wrestling Men's Welterweight, Greco-Roman",
       "Wrestling Men's Middleweight, Greco-Roman",
       "Athletics Men's 3,000 metres Steeplechase",
       "Wrestling Men's Middleweight, Freestyle",
       "Swimming Women's 100 metres Backstroke",
       "Swimming Women's 200 metres Backstroke",
       "Swimming Women's 4 x 100 metres Medley Relay",
       "Wrestling Men's Light-Heavyweight, Freestyle",
       "Modern Pentathlon Men's Team", "Boxing Men's Bantamweight",
       "Athletics Women's 200 metres", "Table Tennis Women's Singles",
       "Table Tennis Women's Doubles", "Shooting Men's Skeet",
       "Swimming Women's 50 metres Freestyle",
       "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres",
       "Athletics Men's Triple Jump", "Weightlifting Women's Lightweight",
       "Athletics Women's Long Jump", "Fencing Women's epee, Individual",
       "Swimming Men's 200 metres Freestyle",
       "Swimming Men's 4 x 100 metres Freestyle Relay",
       "Swimming Men's 200 metres Backstroke",
       "Swimming Men's 200 metres Individual Medley",
       "Swimming Men's 400 metres Individual Medley",
       "Badminton Women's Singles", "Boxing Men's Light-Middleweight",
       "Tennis Men's Singles", "Wrestling Men's Bantamweight, Freestyle",
       "Wrestling Men's Flyweight, Freestyle",
       "Athletics Women's 5,000 metres",
       "Weightlifting Women's Light-Heavyweight",
       "Weightlifting Women's Heavyweight",
       "Athletics Men's Discus Throw", "Taekwondo Men's Featherweight",
       "Taekwondo Men's Welterweight", "Judo Men's Heavyweight",
       "Cycling Men's Sprint", "Bobsleigh Men's Two",
       "Wrestling Men's Lightweight, Freestyle",
       "Nordic Combined Men's Team", "Nordic Combined Men's Individual",
       "Baseball Men's Baseball", "Rowing Men's Coxed Fours",
       "Cycling Men's 100 kilometres Team Time Trial",
       "Rhythmic Gymnastics Women's Group",
       'Art Competitions Mixed Architecture, Designs For Town Planning',
       'Art Competitions Mixed Architecture, Architectural Designs',
       "Gymnastics Women's Individual All-Around",
       "Gymnastics Women's Team All-Around",
       "Gymnastics Women's Floor Exercise",
       "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars",
       "Gymnastics Women's Balance Beam", "Diving Women's Springboard",
       "Diving Women's Synchronized Springboard",
       "Athletics Women's 10,000 metres", 'Sailing Mixed 7 metres',
       "Judo Women's Half-Middleweight", "Athletics Men's Decathlon",
       "Biathlon Men's 10 kilometres Sprint",
       "Biathlon Men's 20 kilometres",
       "Biathlon Men's 4 x 7.5 kilometres Relay",
       "Freestyle Skiing Men's Moguls",
       "Wrestling Men's Middleweight A, Greco-Roman",
       "Athletics Women's Discus Throw",
       "Swimming Women's 4 x 100 metres Freestyle Relay",
       "Athletics Women's 1,500 metres",
       "Shooting Women's Air Pistol, 10 metres",
       "Shooting Women's Sporting Pistol, 25 metres",
       "Canoeing Men's Kayak Doubles, 500 metres",
       "Canoeing Men's Kayak Singles, 500 metres",
       "Canoeing Men's Kayak Singles, 1,000 metres",
       "Shooting Men's Running Target, 50 metres",
       "Judo Women's Half-Heavyweight", "Athletics Women's Pole Vault",
       "Rugby Sevens Women's Rugby Sevens", "Table Tennis Men's Team",
       'Figure Skating Mixed Pairs', "Freestyle Skiing Men's Aerials",
       "Rowing Women's Coxed Eights",
       "Athletics Women's 4 x 400 metres Relay",
       "Alpine Skiing Women's Giant Slalom",
       "Alpine Skiing Women's Super G",
       "Cross Country Skiing Women's 5 kilometres",
       "Cross Country Skiing Women's 10 kilometres",
       "Cross Country Skiing Women's 20 kilometres",
       "Cycling Men's 1,000 metres Time Trial",
       "Cycling Men's Individual Pursuit, 4,000 metres",
       "Wrestling Men's Welterweight, Freestyle",
       "Wrestling Men's Bantamweight, Greco-Roman",
       "Rowing Women's Lightweight Double Sculls",
       "Athletics Women's 800 metres",
       "Rowing Women's Coxed Quadruple Sculls",
       "Biathlon Men's 12.5 kilometres Pursuit",
       'Biathlon Mixed 2 x 6 kilometres and 2 x 7.5 kilometres Relay',
       "Rhythmic Gymnastics Women's Individual",
       "Canoeing Men's Kayak Singles, Slalom", "Archery Men's Individual",
       "Archery Men's Team", "Speed Skating Women's 1,500 metres",
       "Speed Skating Women's Team Pursuit (6 laps)",
       "Cross Country Skiing Men's Sprint",
       "Athletics Women's 400 metres", "Figure Skating Women's Singles",
       "Speed Skating Men's 1,000 metres",
       "Trampolining Men's Individual",
       "Beach Volleyball Men's Beach Volleyball",
       "Cycling Women's Mountainbike, Cross-Country",
       "Athletics Men's Javelin Throw, Both Hands",
       "Triathlon Women's Olympic Distance",
       "Gymnastics Women's Team Portable Apparatus",
       "Cycling Men's Mountainbike, Cross-Country",
       "Athletics Women's 400 metres Hurdles", "Diving Men's Springboard",
       "Wrestling Men's Featherweight, Greco-Roman",
       "Table Tennis Men's Singles", 'Art Competitions Mixed Painting',
       "Cross Country Skiing Women's 3 x 5 kilometres Relay",
       "Judo Men's Open Class", "Rowing Women's Quadruple Sculls",
       "Gymnastics Men's Team All-Around, Swedish System",
       "Nordic Combined Men's Sprint", "Athletics Women's Pentathlon",
       'Art Competitions Mixed Painting, Unknown Event',
       "Cycling Men's Team Pursuit, 4,000 metres",
       "Weightlifting Women's Middleweight",
       "Swimming Men's 1,500 metres Freestyle",
       "Wrestling Women's Light-Heavyweight, Freestyle",
       "Swimming Women's 100 metres Freestyle",
       "Equestrianism Men's Jumping, Individual",
       "Equestrianism Men's Jumping, Team",
       "Equestrianism Men's Three-Day Event, Individual",
       "Equestrianism Men's Three-Day Event, Team",
       "Alpine Skiing Women's Combined", "Athletics Women's High Jump",
       "Ski Jumping Men's Normal Hill, Individual",
       "Canoeing Women's Kayak Fours, 500 metres",
       "Ice Hockey Women's Ice Hockey", "Sailing Men's One Person Dinghy",
       "Trampolining Women's Individual", "Curling Men's Curling",
       'Art Competitions Mixed Literature', "Judo Men's Middleweight",
       "Biathlon Women's 15 kilometres",
       "Biathlon Women's 3 x 7.5 kilometres Relay",
       "Biathlon Women's 4 x 7.5 kilometres Relay",
       "Judo Men's Half-Lightweight", "Fencing Women's Foil, Team",
       "Swimming Women's 200 metres Butterfly",
       "Swimming Women's 400 metres Individual Medley",
       "Golf Men's Individual", "Athletics Men's Standing High Jump",
       "Athletics Men's Standing Long Jump",
       "Athletics Men's 20 kilometres Walk",
       "Swimming Men's 220 yard Freestyle",
       "Swimming Men's 880 yard Freestyle",
       "Swimming Men's One Mile Freestyle",
       "Swimming Men's 4 x 50 Yard Freestyle Relay",
       "Swimming Men's Plunge For Distance",
       "Shooting Men's Free Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Any Position, 600 metres",
       "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres",
       "Judo Men's Half-Heavyweight", "Archery Women's Team",
       "Athletics Men's 50 kilometres Walk",
       "Rowing Women's Double Sculls", 'Sailing Mixed 6 metres',
       "Boxing Men's Light-Heavyweight", "Boxing Women's Flyweight",
       "Athletics Women's 100 metres Hurdles",
       "Athletics Men's Discus Throw, Greek Style",
       "Curling Women's Curling", 'Sailing Mixed One Person Dinghy',
       "Wrestling Women's Heavyweight, Freestyle",
       'Badminton Mixed Doubles', "Fencing Women's Foil, Individual",
       'Sailing Mixed Two Person Keelboat',
       "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team",
       "Table Tennis Men's Doubles",
       "Wrestling Men's Light-Flyweight, Freestyle",
       "Wrestling Women's Featherweight, Freestyle",
       "Swimming Women's 200 metres Freestyle",
       "Swimming Women's 400 metres Freestyle",
       "Swimming Women's 200 metres Individual Medley",
       "Sailing Men's Windsurfer", "Freestyle Skiing Men's Slopestyle",
       "Shooting Men's Running Target, Single Shot",
       "Shooting Men's Running Target, Double Shot",
       "Rugby Sevens Men's Rugby Sevens",
       "Wrestling Women's Lightweight, Freestyle",
       "Modern Pentathlon Women's Individual",
       "Canoeing Men's Canadian Doubles, Slalom",
       "Judo Women's Half-Lightweight", "Diving Women's Plain High",
       "Equestrianism Men's Dressage, Individual",
       "Equestrianism Men's Dressage, Team",
       "Tennis Women's Singles, Covered Courts",
       "Diving Men's Plain High",
       'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres',
       'Shooting Mixed Small-Bore Rifle, Prone, 50 metres',
       "Swimming Women's 800 metres Freestyle",
       "Sailing Women's Two Person Dinghy",
       "Alpine Skiing Women's Downhill",
       "Shooting Men's Free Pistol, 50 metres, Team",
       "Shooting Men's Free Rifle, Three Positions, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 600 metres, Team",
       "Shooting Men's Military Rifle, Standing, 300 metres, Team",
       "Shooting Men's Free Rifle, Prone, 600 metres",
       "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team",
       "Rowing Men's Single Sculls",
       "Cycling Men's Tandem Sprint, 2,000 metres",
       "Freestyle Skiing Women's Halfpipe",
       "Athletics Women's Heptathlon", "Cycling Men's Points Race",
       "Synchronized Swimming Women's Solo",
       'Equestrianism Mixed Dressage, Individual',
       'Equestrianism Mixed Dressage, Team',
       "Cross Country Skiing Men's 18 kilometres",
       "Swimming Men's 100 metres Breaststroke",
       'Figure Skating Mixed Ice Dancing',
       'Shooting Mixed Free Pistol, 50 metres', "Sailing Women's Skiff",
       "Canoeing Men's Kayak Doubles, 10,000 metres",
       "Triathlon Men's Olympic Distance",
       "Sailing Women's One Person Dinghy",
       "Cross Country Skiing Women's 30 kilometres",
       "Cross Country Skiing Women's 15 km Skiathlon",
       "Rowing Men's 17-Man Naval Rowing Boats",
       "Beach Volleyball Women's Beach Volleyball",
       "Weightlifting Men's Super-Heavyweight",
       "Rowing Men's Lightweight Coxless Fours",
       "Wrestling Men's Light-Flyweight, Greco-Roman",
       "Canoeing Men's Canadian Singles, 1,000 metres",
       'Sailing Mixed 5.5 metres', 'Equestrianism Mixed Jumping, Team',
       "Diving Men's Synchronized Platform",
       "Snowboarding Men's Halfpipe",
       "Canoeing Women's Kayak Singles, Slalom",
       "Weightlifting Women's Flyweight",
       "Swimming Women's 100 metres Breaststroke",
       "Swimming Women's 200 metres Breaststroke",
       "Wrestling Men's Middleweight B, Greco-Roman",
       "Athletics Men's Stone Throw",
       "Athletics Men's Javelin Throw, Freestyle",
       "Athletics Men's Pentathlon (Ancient)",
       "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres",
       "Swimming Women's 100 metres Butterfly",
       "Weightlifting Men's Heavyweight I",
       "Athletics Women's 3,000 metres Steeplechase",
       "Athletics Men's Shot Put, Both Hands",
       "Ski Jumping Men's Large Hill, Individual",
       "Ski Jumping Men's Large Hill, Team", "Shooting Women's Trap",
       "Badminton Men's Doubles",
       "Swimming Women's 4 x 200 metres Freestyle Relay",
       "Athletics Men's 10 kilometres Walk",
       "Athletics Women's 20 kilometres Walk",
       "Athletics Women's 80 metres Hurdles",
       "Sailing Men's One Person Heavyweight Dinghy",
       "Freestyle Skiing Women's Aerials",
       'Art Competitions Mixed Painting, Paintings',
       'Tennis Mixed Doubles, Covered Courts', "Cycling Men's Madison",
       'Art Competitions Mixed Sculpturing, Statues', "Rugby Men's Rugby",
       "Weightlifting Men's Heavyweight II",
       "Canoeing Women's Kayak Doubles, 500 metres",
       "Short Track Speed Skating Men's 5,000 metres Relay",
       "Cycling Men's Individual Time Trial", "Judo Women's Heavyweight",
       "Canoeing Men's Kayak Doubles, 1,000 metres",
       "Gymnastics Men's Individual All-Around, 5 Events",
       "Wrestling Men's Super-Heavyweight, Freestyle",
       "Biathlon Women's 10 kilometres Pursuit",
       "Biathlon Women's 12.5 kilometres Mass Start",
       "Biathlon Women's 4 x 6 kilometres Relay",
       "Fencing Women's Sabre, Team", "Shooting Men's Double Trap",
       "Weightlifting Men's Bantamweight", "Taekwondo Men's Heavyweight",
       'Sailing Mixed Windsurfer', "Taekwondo Women's Welterweight",
       'Shooting Mixed Free Rifle, Three Positions, 300 metres',
       "Skeleton Men's Skeleton", "Cycling Men's 50 kilometres",
       'Shooting Mixed Rapid-Fire Pistol, 25 metres',
       "Cycling Men's 333 metres Time Trial",
       "Cycling Men's 20 kilometres",
       "Canoeing Men's Kayak Singles, 10,000 metres",
       'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton',

In [67]:
event.nunique()

765

# Medals

In [68]:
medal=df["Medal"]
medal

0          NaN
1          NaN
2          NaN
3         Gold
4          NaN
          ...
271111     NaN
271112     NaN
271113     NaN
271114     NaN
271115     NaN
Name: Medal, Length: 271116, dtype: object

In [69]:
medal.unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [70]:
medal.nunique()

3

# Seasons

In [71]:
season=df["Season"]
season

0         Summer
1         Summer
2         Summer
3         Summer
4         Winter
           ...
271111    Winter
271112    Winter
271113    Winter
271114    Winter
271115    Winter
Name: Season, Length: 271116, dtype: object

In [72]:
season.unique()

array(['Summer', 'Winter'], dtype=object)

In [73]:
season.nunique()

2

In [77]:
summer = df[df.Season=="Summer"]
summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [78]:
winter = df[df.Season=="Winter"]
winter

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [80]:
summer.nunique()

ID        116776
Name      116122
Sex            2
Age           74
Height        95
Weight       219
Team        1157
NOC          230
Games         29
Year          29
Season         1
City          23
Sport         52
Event        651
Medal          3
dtype: int64

In [82]:
winter.nunique()

ID        18958
Name      18923
Sex           2
Age          47
Height       64
Weight      125
Team        221
NOC         119
Games        22
Year         22
Season        1
City         19
Sport        17
Event       119
Medal         3
dtype: int64

# Summer Data

In [83]:
summer

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [84]:
summer.Year.unique()

array([1992, 2012, 1920, 1900, 1932, 1952, 2000, 1996, 1912, 1924, 1948,
       2008, 2016, 2004, 1984, 1968, 1972, 1988, 1936, 1956, 1960, 1928,
       1976, 1980, 1964, 1906, 1904, 1908, 1896], dtype=int64)

In [87]:
summer.Year.nunique()

29

In [85]:
summer.ID.unique()

array([     1,      2,      3, ..., 135566, 135567, 135568], dtype=int64)

In [88]:
summer.ID.nunique()

116776

In [86]:
summer.Name.unique()

array(['A Dijiang', 'A Lamusi', 'Gunnar Nielsen Aaby', ...,
       'James Francis "Jim" Zylker', 'Aleksandr Viktorovich Zyuzin',
       'Olga Igorevna Zyuzkova'], dtype=object)

In [89]:
summer.Name.nunique()

116122

In [90]:
summer.Age.unique()

array([24., 23., 34., 18., 26., 31., 30., 22., 28., 32., 54., 27., 43.,
       47., 21., 25., 20., 33., 41., 45., 49., 53., 57., nan, 19., 29.,
       38., 35., 16., 37., 42., 46., 40., 15., 36., 17., 14., 39., 48.,
       52., 55., 50., 44., 71., 63., 51., 58., 60., 75., 65., 13., 56.,
       64., 68., 84., 12., 72., 59., 61., 70., 74., 62., 67., 69., 73.,
       66., 76., 88., 11., 96., 80., 10., 81., 77., 97.])

In [91]:
summer.Age.nunique()

74

In [98]:
summer.Height.unique()

array([180., 170.,  nan, 168., 172., 159., 175., 189., 163., 187., 174.,
       194., 182., 185., 177., 167., 176., 164., 198., 165., 156., 179.,
       178., 166., 186., 190., 183., 181., 188., 155., 169., 160., 173.,
       171., 192., 195., 184., 191., 203., 158., 154., 153., 152., 193.,
       162., 197., 157., 207., 147., 150., 202., 161., 210., 205., 200.,
       148., 208., 140., 213., 204., 151., 196., 146., 201., 132., 149.,
       199., 211., 215., 139., 206., 135., 142., 217., 209., 145., 221.,
       144., 214., 143., 218., 127., 223., 216., 141., 212., 131., 136.,
       137., 138., 220., 130., 219., 133., 128., 226.])

In [99]:
summer.Height.nunique()

95

In [100]:
summer.Weight.unique()

array([ 80.        ,  60.        ,          nan,  70.        ,
        55.5       ,  64.        , 130.        , 125.        ,
        89.        ,  77.        ,  72.        ,  76.        ,
        78.        ,  75.        ,  93.        ,  74.        ,
        65.        , 106.        ,  58.        ,  66.        ,
        71.        ,  90.        ,  87.        ,  49.        ,
        48.        ,  82.        ,  83.        ,  86.        ,
        73.        ,  55.        ,  67.        ,  97.        ,
       105.        ,  85.        ,  43.        ,  79.        ,
        51.        ,  96.        ,  88.        ,  62.        ,
        53.        , 104.        ,  57.        ,  63.        ,
        52.        ,  91.        ,  98.        ,  94.        ,
        56.        ,  68.        ,  61.        ,  69.        ,
        46.        , 100.        ,  81.        ,  92.        ,
       120.        ,  95.        ,  59.        ,  50.        ,
       117.5       ,  54.        ,  47.        , 117.        ,
        84.        ,  40.        , 102.        , 115.        ,
       110.        ,  45.        , 109.        ,  69.5       ,
       135.        ,  38.        ,  77.5       , 103.        ,
       163.        , 113.        ,  42.        ,  91.5       ,
        82.5       ,  68.5       , 116.        , 107.        ,
        96.5       ,  83.5       ,  44.        , 122.        ,
       102.5       ,  71.5       , 156.        , 150.        ,
       160.        ,  95.5       , 101.        ,  99.        ,
       146.        , 138.        , 112.        , 108.        ,
       140.        , 141.        ,  63.5       , 114.        ,
       118.        ,  52.5       , 127.        ,  39.        ,
        73.5       , 155.        ,  74.5       ,  32.        ,
       143.        , 133.        ,  70.5       , 126.        ,
       121.        ,  67.5       , 111.        , 123.5       ,
        36.        , 132.        , 128.        ,  65.5       ,
        98.5       , 124.        ,  41.        ,  59.5       ,
       127.5       ,  35.        , 144.        ,  58.5       ,
       214.        ,  81.5       ,  37.        , 146.5       ,
       116.5       , 148.        , 123.        ,  89.5       ,
       133.5       ,  86.5       ,  85.5       , 101.5       ,
       154.        , 139.        ,  57.5       , 136.        ,
        54.5       , 137.        , 170.        ,  30.        ,
        25.        ,  77.33333333, 131.        ,  79.5       ,
        66.5       ,  34.        , 119.        , 134.        ,
        33.        , 109.5       ,  90.5       , 129.        ,
       147.        ,  56.5       ,  78.5       , 165.        ,
        88.5       ,  60.5       ,  76.5       , 158.        ,
        75.5       , 190.        ,  64.5       , 145.        ,
       121.5       ,  61.5       ,  53.5       , 161.        ,
        62.5       , 176.5       ,  87.5       , 100.5       ,
       149.        , 152.        , 108.5       ,  28.        ,
        48.5       , 138.5       ,  72.5       , 129.5       ,
       131.5       , 167.        ,  84.5       ,  51.5       ,
       112.5       , 118.5       , 142.        ,  80.5       ,
       106.5       , 107.5       ,  31.        , 135.5       ,
       137.5       ,  93.5       , 103.5       , 175.        ,
        97.5       , 151.        , 198.        , 178.        ,
        92.5       , 180.        , 104.5       , 105.5       ,
       122.5       , 182.        ,  74.66666667, 130.5       ])

In [101]:
summer.Weight.nunique()

219

In [102]:
summer.Team.unique()

array(['China', 'Denmark', 'Denmark/Sweden', ..., 'Dow Jones', 'China-3',
       'Digby'], dtype=object)

In [103]:
summer.Team.nunique()

1157

In [104]:
summer.NOC.unique()

array(['CHN', 'DEN', 'NED', 'FIN', 'NOR', 'ROU', 'EST', 'FRA', 'MAR',
       'ESP', 'EGY', 'IRI', 'BUL', 'ITA', 'CHA', 'AZE', 'SUD', 'RUS',
       'ARG', 'CUB', 'BLR', 'GRE', 'CMR', 'TUR', 'CHI', 'MEX', 'USA',
       'URS', 'NCA', 'HUN', 'NGR', 'ALG', 'KUW', 'BRN', 'PAK', 'IRQ',
       'UAR', 'LIB', 'QAT', 'MAS', 'GER', 'CAN', 'IRL', 'AUS', 'RSA',
       'ERI', 'TAN', 'JOR', 'TUN', 'LBA', 'BEL', 'DJI', 'PLE', 'COM',
       'KAZ', 'BRU', 'IND', 'KSA', 'SYR', 'MDV', 'ETH', 'UAE', 'YAR',
       'INA', 'PHI', 'SGP', 'UZB', 'KGZ', 'TJK', 'EUN', 'JPN', 'CGO',
       'SUI', 'BRA', 'GDR', 'MON', 'ISR', 'URU', 'SWE', 'SRI', 'ARM',
       'CIV', 'KEN', 'BEN', 'GBR', 'GHA', 'SOM', 'NIG', 'MLI', 'AFG',
       'POL', 'CRC', 'PAN', 'GEO', 'SLO', 'GUY', 'NZL', 'POR', 'PAR',
       'ANG', 'VEN', 'COL', 'FRG', 'BAN', 'PER', 'ESA', 'PUR', 'UGA',
       'HON', 'ECU', 'TKM', 'MRI', 'SEY', 'TCH', 'LUX', 'MTN', 'SKN',
       'TTO', 'DOM', 'VIN', 'JAM', 'LBR', 'SUR', 'NEP', 'MGL', 'AUT',
       'PLW', 'LTU', 'TOG', 'NAM', 'AHO', 'UKR', 'ISL', 'ASA', 'SAM',
       'RWA', 'CRO', 'DMA', 'HAI', 'MLT', 'CYP', 'GUI', 'BIZ', 'YMD',
       'THA', 'BER', 'ANZ', 'SCG', 'SLE', 'PNG', 'YEM', 'IOA', 'OMA',
       'FIJ', 'VAN', 'MDA', 'BAH', 'GUA', 'YUG', 'LAT', 'SRB', 'IVB',
       'MOZ', 'ISV', 'CAF', 'MAD', 'MAL', 'BIH', 'GUM', 'CAY', 'SVK',
       'BAR', 'GBS', 'TLS', 'COD', 'GAB', 'SMR', 'LAO', 'BOT', 'ROT',
       'KOR', 'CAM', 'PRK', 'SOL', 'SEN', 'CPV', 'CZE', 'CRT', 'GEQ',
       'BOL', 'SAA', 'ANT', 'AND', 'ZIM', 'GRN', 'HKG', 'LCA', 'FSM',
       'MYA', 'MAW', 'ZAM', 'RHO', 'TPE', 'STP', 'MKD', 'BOH', 'LIE',
       'MNE', 'GAM', 'COK', 'ALB', 'WIF', 'SWZ', 'BUR', 'NBO', 'BDI',
       'ARU', 'NRU', 'VNM', 'VIE', 'BHU', 'MHL', 'KIR', 'UNK', 'TUV',
       'TGA', 'NFL', 'KOS', 'SSD', 'LES'], dtype=object)

In [105]:
summer.NOC.nunique()

230

In [106]:
summer.Games.unique()

array(['1992 Summer', '2012 Summer', '1920 Summer', '1900 Summer',
       '1932 Summer', '1952 Summer', '2000 Summer', '1996 Summer',
       '1912 Summer', '1924 Summer', '1948 Summer', '2008 Summer',
       '2016 Summer', '2004 Summer', '1984 Summer', '1968 Summer',
       '1972 Summer', '1988 Summer', '1936 Summer', '1956 Summer',
       '1960 Summer', '1928 Summer', '1976 Summer', '1980 Summer',
       '1964 Summer', '1906 Summer', '1904 Summer', '1908 Summer',
       '1896 Summer'], dtype=object)

In [107]:
summer.Games.nunique()

29

In [108]:
summer.Sport.unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet',
       'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota',
       'Alpinism', 'Aeronautics'], dtype=object)

In [109]:
summer.Sport.nunique()

52

In [111]:
summer.Event.unique()

array(["Basketball Men's Basketball", "Judo Men's Extra-Lightweight",
       "Football Men's Football", "Tug-Of-War Men's Tug-Of-War",
       "Athletics Women's 100 metres",
       "Athletics Women's 4 x 100 metres Relay",
       "Swimming Men's 400 metres Freestyle", "Badminton Men's Singles",
       "Sailing Women's Windsurfer",
       "Swimming Men's 200 metres Breaststroke",
       "Swimming Men's 400 metres Breaststroke",
       "Gymnastics Men's Individual All-Around",
       "Gymnastics Men's Team All-Around",
       "Gymnastics Men's Floor Exercise", "Gymnastics Men's Horse Vault",
       "Gymnastics Men's Parallel Bars",
       "Gymnastics Men's Horizontal Bar", "Gymnastics Men's Rings",
       "Gymnastics Men's Pommelled Horse", "Athletics Men's Shot Put",
       'Art Competitions Mixed Sculpturing, Unknown Event',
       "Handball Women's Handball",
       "Weightlifting Women's Super-Heavyweight",
       "Wrestling Men's Light-Heavyweight, Greco-Roman",
       "Gymnastics Men's Team All-Around, Free System",
       "Water Polo Men's Water Polo",
       'Sailing Mixed Three Person Keelboat', "Hockey Women's Hockey",
       "Rowing Men's Lightweight Double Sculls",
       "Athletics Men's Pole Vault", "Athletics Men's High Jump",
       "Sailing Men's Two Person Dinghy", "Athletics Men's 1,500 metres",
       "Swimming Men's 100 metres Butterfly",
       "Swimming Men's 200 metres Butterfly",
       "Swimming Men's 4 x 100 metres Medley Relay",
       "Football Women's Football", "Fencing Men's Foil, Individual",
       "Fencing Men's epee, Individual", "Fencing Men's epee, Team",
       'Sailing Mixed 8 metres',
       'Equestrianism Mixed Jumping, Individual',
       "Shooting Men's Small-Bore Rifle, Prone, 50 metres",
       "Shooting Men's Rapid-Fire Pistol, 25 metres",
       "Shooting Men's Trap", "Athletics Men's 4 x 100 metres Relay",
       "Athletics Men's Long Jump", "Boxing Men's Light-Welterweight",
       "Athletics Women's Javelin Throw",
       "Wrestling Men's Heavyweight, Freestyle",
       "Taekwondo Men's Flyweight", "Boxing Men's Heavyweight",
       "Athletics Men's 5,000 metres",
       "Cycling Men's Road Race, Individual",
       "Cycling Men's Road Race, Team", "Weightlifting Men's Lightweight",
       "Weightlifting Men's Middleweight", "Rowing Men's Coxless Pairs",
       "Judo Men's Half-Middleweight", "Taekwondo Women's Flyweight",
       "Boxing Men's Flyweight", "Basketball Women's Basketball",
       "Diving Men's Platform",
       "Canoeing Men's Canadian Doubles, 500 metres",
       "Canoeing Men's Canadian Doubles, 1,000 metres",
       "Canoeing Men's Kayak Fours, 1,000 metres",
       "Handball Men's Handball", "Rowing Women's Coxless Pairs",
       "Boxing Men's Middleweight", "Judo Men's Lightweight",
       "Boxing Men's Featherweight", "Tennis Men's Doubles",
       'Shooting Mixed Skeet', "Wrestling Men's Featherweight, Freestyle",
       'Sailing Mixed Two Person Heavyweight Dinghy',
       "Athletics Women's Shot Put", "Rowing Men's Coxed Eights",
       "Cycling Women's Sprint", "Cycling Women's 500 metres Time Trial",
       "Athletics Men's 110 metres Hurdles", 'Shooting Mixed Trap',
       "Athletics Women's Marathon", "Athletics Men's 100 metres",
       "Fencing Men's Foil, Team", "Fencing Men's Sabre, Team",
       "Swimming Men's 100 metres Freestyle",
       "Swimming Men's 4 x 200 metres Freestyle Relay",
       "Boxing Men's Lightweight", "Modern Pentathlon Men's Individual",
       "Boxing Men's Welterweight", "Rowing Men's Quadruple Sculls",
       "Rowing Men's Double Sculls", "Rowing Men's Coxed Pairs",
       "Athletics Men's 400 metres Hurdles", "Athletics Men's 400 metres",
       "Athletics Men's Hammer Throw",
       "Weightlifting Men's Featherweight", "Athletics Men's 800 metres",
       "Hockey Men's Hockey", "Rowing Women's Single Sculls",
       "Swimming Men's 50 metres Freestyle",
       "Weightlifting Women's Featherweight",
       "Water Polo Women's Water Polo", "Weightlifting Men's Heavyweight",
       'Equestrianism Mixed Three-Day Event, Individual',
       'Equestrianism Mixed Three-Day Event, Team',
       "Sailing Women's Three Person Keelboat",
       "Cycling Women's Road Race, Individual", "Golf Women's Individual",
       "Softball Women's Softball", "Archery Women's Individual",
       "Wrestling Men's Heavyweight, Greco-Roman",
       "Volleyball Men's Volleyball", "Taekwondo Women's Heavyweight",
       "Synchronized Swimming Women's Duet",
       "Synchronized Swimming Women's Team",
       "Taekwondo Women's Featherweight", "Athletics Men's Marathon",
       "Athletics Men's 4 x 400 metres Relay",
       "Athletics Men's 10,000 metres", "Athletics Women's 3,000 metres",
       "Diving Women's Platform", "Shooting Men's Air Rifle, 10 metres",
       "Athletics Men's 200 metres", "Weightlifting Men's Flyweight",
       "Swimming Men's 100 metres Backstroke",
       "Weightlifting Men's Light-Heavyweight",
       "Wrestling Men's Lightweight, Greco-Roman",
       "Fencing Men's Sabre, Individual",
       "Wrestling Men's Super-Heavyweight, Greco-Roman",
       "Shooting Men's Free Pistol, 50 metres",
       "Shooting Men's Air Pistol, 10 metres",
       "Rowing Men's Coxless Fours", "Boxing Men's Light-Flyweight",
       "Boxing Men's Super-Heavyweight",
       "Wrestling Men's Flyweight, Greco-Roman",
       "Shooting Women's Air Rifle, 10 metres",
       "Weightlifting Men's Middle-Heavyweight",
       "Athletics Men's Javelin Throw", "Volleyball Women's Volleyball",
       "Wrestling Men's Welterweight, Greco-Roman",
       "Wrestling Men's Middleweight, Greco-Roman",
       "Athletics Men's 3,000 metres Steeplechase",
       "Wrestling Men's Middleweight, Freestyle",
       "Swimming Women's 100 metres Backstroke",
       "Swimming Women's 200 metres Backstroke",
       "Swimming Women's 4 x 100 metres Medley Relay",
       "Wrestling Men's Light-Heavyweight, Freestyle",
       "Modern Pentathlon Men's Team", "Boxing Men's Bantamweight",
       "Athletics Women's 200 metres", "Table Tennis Women's Singles",
       "Table Tennis Women's Doubles", "Shooting Men's Skeet",
       "Swimming Women's 50 metres Freestyle",
       "Shooting Men's Small-Bore Rifle, Three Positions, 50 metres",
       "Athletics Men's Triple Jump", "Weightlifting Women's Lightweight",
       "Athletics Women's Long Jump", "Fencing Women's epee, Individual",
       "Swimming Men's 200 metres Freestyle",
       "Swimming Men's 4 x 100 metres Freestyle Relay",
       "Swimming Men's 200 metres Backstroke",
       "Swimming Men's 200 metres Individual Medley",
       "Swimming Men's 400 metres Individual Medley",
       "Badminton Women's Singles", "Boxing Men's Light-Middleweight",
       "Tennis Men's Singles", "Wrestling Men's Bantamweight, Freestyle",
       "Wrestling Men's Flyweight, Freestyle",
       "Athletics Women's 5,000 metres",
       "Weightlifting Women's Light-Heavyweight",
       "Weightlifting Women's Heavyweight",
       "Athletics Men's Discus Throw", "Taekwondo Men's Featherweight",
       "Taekwondo Men's Welterweight", "Judo Men's Heavyweight",
       "Cycling Men's Sprint", "Wrestling Men's Lightweight, Freestyle",
       "Baseball Men's Baseball", "Rowing Men's Coxed Fours",
       "Cycling Men's 100 kilometres Team Time Trial",
       "Rhythmic Gymnastics Women's Group",
       'Art Competitions Mixed Architecture, Designs For Town Planning',
       'Art Competitions Mixed Architecture, Architectural Designs',
       "Gymnastics Women's Individual All-Around",
       "Gymnastics Women's Team All-Around",
       "Gymnastics Women's Floor Exercise",
       "Gymnastics Women's Horse Vault", "Gymnastics Women's Uneven Bars",
       "Gymnastics Women's Balance Beam", "Diving Women's Springboard",
       "Diving Women's Synchronized Springboard",
       "Athletics Women's 10,000 metres", 'Sailing Mixed 7 metres',
       "Judo Women's Half-Middleweight", "Athletics Men's Decathlon",
       "Wrestling Men's Middleweight A, Greco-Roman",
       "Athletics Women's Discus Throw",
       "Swimming Women's 4 x 100 metres Freestyle Relay",
       "Athletics Women's 1,500 metres",
       "Shooting Women's Air Pistol, 10 metres",
       "Shooting Women's Sporting Pistol, 25 metres",
       "Canoeing Men's Kayak Doubles, 500 metres",
       "Canoeing Men's Kayak Singles, 500 metres",
       "Canoeing Men's Kayak Singles, 1,000 metres",
       "Shooting Men's Running Target, 50 metres",
       "Judo Women's Half-Heavyweight", "Athletics Women's Pole Vault",
       "Rugby Sevens Women's Rugby Sevens", "Table Tennis Men's Team",
       "Rowing Women's Coxed Eights",
       "Athletics Women's 4 x 400 metres Relay",
       "Cycling Men's 1,000 metres Time Trial",
       "Cycling Men's Individual Pursuit, 4,000 metres",
       "Wrestling Men's Welterweight, Freestyle",
       "Wrestling Men's Bantamweight, Greco-Roman",
       "Rowing Women's Lightweight Double Sculls",
       "Athletics Women's 800 metres",
       "Rowing Women's Coxed Quadruple Sculls",
       "Rhythmic Gymnastics Women's Individual",
       "Canoeing Men's Kayak Singles, Slalom", "Archery Men's Individual",
       "Archery Men's Team", "Athletics Women's 400 metres",
       "Trampolining Men's Individual",
       "Beach Volleyball Men's Beach Volleyball",
       "Cycling Women's Mountainbike, Cross-Country",
       "Athletics Men's Javelin Throw, Both Hands",
       "Triathlon Women's Olympic Distance",
       "Gymnastics Women's Team Portable Apparatus",
       "Cycling Men's Mountainbike, Cross-Country",
       "Athletics Women's 400 metres Hurdles", "Diving Men's Springboard",
       "Wrestling Men's Featherweight, Greco-Roman",
       "Table Tennis Men's Singles", 'Art Competitions Mixed Painting',
       "Judo Men's Open Class", "Rowing Women's Quadruple Sculls",
       "Gymnastics Men's Team All-Around, Swedish System",
       "Athletics Women's Pentathlon",
       'Art Competitions Mixed Painting, Unknown Event',
       "Cycling Men's Team Pursuit, 4,000 metres",
       "Weightlifting Women's Middleweight",
       "Swimming Men's 1,500 metres Freestyle",
       "Wrestling Women's Light-Heavyweight, Freestyle",
       "Swimming Women's 100 metres Freestyle",
       "Equestrianism Men's Jumping, Individual",
       "Equestrianism Men's Jumping, Team",
       "Equestrianism Men's Three-Day Event, Individual",
       "Equestrianism Men's Three-Day Event, Team",
       "Athletics Women's High Jump",
       "Canoeing Women's Kayak Fours, 500 metres",
       "Sailing Men's One Person Dinghy",
       "Trampolining Women's Individual",
       'Art Competitions Mixed Literature', "Judo Men's Middleweight",
       "Judo Men's Half-Lightweight", "Fencing Women's Foil, Team",
       "Swimming Women's 200 metres Butterfly",
       "Swimming Women's 400 metres Individual Medley",
       "Golf Men's Individual", "Athletics Men's Standing High Jump",
       "Athletics Men's Standing Long Jump",
       "Athletics Men's 20 kilometres Walk",
       "Swimming Men's 220 yard Freestyle",
       "Swimming Men's 880 yard Freestyle",
       "Swimming Men's One Mile Freestyle",
       "Swimming Men's 4 x 50 Yard Freestyle Relay",
       "Swimming Men's Plunge For Distance",
       "Shooting Men's Free Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Three Positions, 300 metres",
       "Shooting Men's Military Rifle, Any Position, 600 metres",
       "Shooting Men's Military Rifle, 200, 400, 500 and 600 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres",
       "Judo Men's Half-Heavyweight", "Archery Women's Team",
       "Athletics Men's 50 kilometres Walk",
       "Rowing Women's Double Sculls", 'Sailing Mixed 6 metres',
       "Boxing Men's Light-Heavyweight", "Boxing Women's Flyweight",
       "Athletics Women's 100 metres Hurdles",
       "Athletics Men's Discus Throw, Greek Style",
       'Sailing Mixed One Person Dinghy',
       "Wrestling Women's Heavyweight, Freestyle",
       'Badminton Mixed Doubles', "Fencing Women's Foil, Individual",
       'Sailing Mixed Two Person Keelboat',
       "Shooting Men's Military Rifle, 300 metres and 600 metres, Prone, Team",
       "Table Tennis Men's Doubles",
       "Wrestling Men's Light-Flyweight, Freestyle",
       "Wrestling Women's Featherweight, Freestyle",
       "Swimming Women's 200 metres Freestyle",
       "Swimming Women's 400 metres Freestyle",
       "Swimming Women's 200 metres Individual Medley",
       "Sailing Men's Windsurfer",
       "Shooting Men's Running Target, Single Shot",
       "Shooting Men's Running Target, Double Shot",
       "Rugby Sevens Men's Rugby Sevens",
       "Wrestling Women's Lightweight, Freestyle",
       "Modern Pentathlon Women's Individual",
       "Canoeing Men's Canadian Doubles, Slalom",
       "Judo Women's Half-Lightweight", "Diving Women's Plain High",
       "Equestrianism Men's Dressage, Individual",
       "Equestrianism Men's Dressage, Team",
       "Tennis Women's Singles, Covered Courts",
       "Diving Men's Plain High",
       'Shooting Mixed Small-Bore Rifle, Three Positions, 50 metres',
       'Shooting Mixed Small-Bore Rifle, Prone, 50 metres',
       "Swimming Women's 800 metres Freestyle",
       "Sailing Women's Two Person Dinghy",
       "Shooting Men's Free Pistol, 50 metres, Team",
       "Shooting Men's Free Rifle, Three Positions, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 300 metres, Team",
       "Shooting Men's Military Rifle, Prone, 600 metres, Team",
       "Shooting Men's Military Rifle, Standing, 300 metres, Team",
       "Shooting Men's Free Rifle, Prone, 600 metres",
       "Shooting Men's Free Rifle, 400, 600 and 800 metres, Team",
       "Rowing Men's Single Sculls",
       "Cycling Men's Tandem Sprint, 2,000 metres",
       "Athletics Women's Heptathlon", "Cycling Men's Points Race",
       "Synchronized Swimming Women's Solo",
       'Equestrianism Mixed Dressage, Individual',
       'Equestrianism Mixed Dressage, Team',
       "Swimming Men's 100 metres Breaststroke",
       'Shooting Mixed Free Pistol, 50 metres', "Sailing Women's Skiff",
       "Canoeing Men's Kayak Doubles, 10,000 metres",
       "Triathlon Men's Olympic Distance",
       "Sailing Women's One Person Dinghy",
       "Rowing Men's 17-Man Naval Rowing Boats",
       "Beach Volleyball Women's Beach Volleyball",
       "Weightlifting Men's Super-Heavyweight",
       "Rowing Men's Lightweight Coxless Fours",
       "Wrestling Men's Light-Flyweight, Greco-Roman",
       "Canoeing Men's Canadian Singles, 1,000 metres",
       'Sailing Mixed 5.5 metres', 'Equestrianism Mixed Jumping, Team',
       "Diving Men's Synchronized Platform",
       "Canoeing Women's Kayak Singles, Slalom",
       "Weightlifting Women's Flyweight",
       "Swimming Women's 100 metres Breaststroke",
       "Swimming Women's 200 metres Breaststroke",
       "Wrestling Men's Middleweight B, Greco-Roman",
       "Athletics Men's Stone Throw",
       "Athletics Men's Javelin Throw, Freestyle",
       "Athletics Men's Pentathlon (Ancient)",
       "Shooting Women's Small-Bore Rifle, Three Positions, 50 metres",
       "Swimming Women's 100 metres Butterfly",
       "Weightlifting Men's Heavyweight I",
       "Athletics Women's 3,000 metres Steeplechase",
       "Athletics Men's Shot Put, Both Hands", "Shooting Women's Trap",
       "Badminton Men's Doubles",
       "Swimming Women's 4 x 200 metres Freestyle Relay",
       "Athletics Men's 10 kilometres Walk",
       "Athletics Women's 20 kilometres Walk",
       "Athletics Women's 80 metres Hurdles",
       "Sailing Men's One Person Heavyweight Dinghy",
       'Art Competitions Mixed Painting, Paintings',
       'Tennis Mixed Doubles, Covered Courts', "Cycling Men's Madison",
       'Art Competitions Mixed Sculpturing, Statues', "Rugby Men's Rugby",
       "Weightlifting Men's Heavyweight II",
       "Canoeing Women's Kayak Doubles, 500 metres",
       "Cycling Men's Individual Time Trial", "Judo Women's Heavyweight",
       "Canoeing Men's Kayak Doubles, 1,000 metres",
       "Gymnastics Men's Individual All-Around, 5 Events",
       "Wrestling Men's Super-Heavyweight, Freestyle",
       "Fencing Women's Sabre, Team", "Shooting Men's Double Trap",
       "Weightlifting Men's Bantamweight", "Taekwondo Men's Heavyweight",
       'Sailing Mixed Windsurfer', "Taekwondo Women's Welterweight",
       'Shooting Mixed Free Rifle, Three Positions, 300 metres',
       "Cycling Men's 50 kilometres",
       'Shooting Mixed Rapid-Fire Pistol, 25 metres',
       "Cycling Men's 333 metres Time Trial",
       "Cycling Men's 20 kilometres",
       "Canoeing Men's Kayak Singles, 10,000 metres",
       'Sailing Mixed Open', 'Sailing Mixed 1-2 Ton',
       "Canoeing Men's Canadian Singles, Slalom",
       'Sailing Mixed Multihull', "Badminton Women's Doubles",
       "Diving Women's Synchronized Platform",
       "Athletics Women's Triple Jump",
       'Art Competitions Mixed Painting, Drawings And Water Colors',
       "Shooting Men's Dueling Pistol, 30 metres",
       "Boxing Women's Lightweight", "Cycling Women's BMX",
       "Canoeing Men's Kayak Doubles, 200 metres",
       "Fencing Men's Sabre, Masters, Individual",
       "Lacrosse Men's Lacrosse",
       "Canoeing Women's Kayak Singles, 500 metres",
       "Athletics Women's 10 kilometres Walk", 'Sailing Mixed 12 metres',
       "Judo Women's Extra-Lightweight",
       "Diving Men's Synchronized Springboard",
       "Rowing Men's Coxed Fours, Outriggers",
       "Gymnastics Men's Rope Climbing",
       'Sailing Mixed Two Person Dinghy',
       'Art Competitions Mixed Architecture, Unknown Event',
       "Archery Men's Target Archery, 28 metres, Team",
       "Archery Men's Target Archery, 33 metres, Team",
       "Archery Men's Target Archery, 50 metres, Team",
       "Shooting Men's Running Target, 10 metres", "Polo Men's Polo",
       "Rowing Men's Coxed Fours, Inriggers", "Cycling Men's BMX",
       'Art Competitions Mixed Sculpturing',
       "Athletics Men's Cross-Country, Individual",
       "Athletics Men's Cross-Country, Team", 'Sailing Mixed 40 metres',
       "Gymnastics Men's Club Swinging", "Tennis Women's Singles",
       'Tennis Mixed Doubles', "Tennis Women's Doubles",
       "Judo Women's Middleweight", "Judo Women's Lightweight",
       "Canoeing Women's Kayak Singles, 200 metres",
       "Canoeing Men's Kayak Relay 4 x 500 metres",
       "Athletics Men's 3,000 metres, Team",
       "Shooting Men's Small-Bore Rifle, Prone, 50 and 100 yards",
       "Shooting Men's Small-Bore Rifle, 50 and 100 yards, Team",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 yards",
       "Shooting Men's Small-Bore Rifle, Moving Target, 25 yards",
       "Shooting Men's Military Pistol, Team",
       "Rowing Women's Coxed Fours",
       "Weightlifting Men's Unlimited, One Hand",
       "Canoeing Men's Canadian Singles, 500 metres",
       "Fencing Men's Foil, Masters, Individual",
       "Fencing Men's epee, Masters, Individual",
       "Gymnastics Men's Individual All-Around, Field Sports",
       "Gymnastics Men's Individual All-Around, Apparatus Work",
       'Art Competitions Mixed Music, Compositions For Solo Or Chorus',
       "Fencing Women's epee, Team",
       "Swimming Men's 4,000 metres Freestyle",
       "Swimming Men's Underwater Swimming", 'Sailing Mixed Skiff',
       "Shooting Men's Military Rifle, 200/500/600/800/900/1,000 Yards, Team",
       "Shooting Men's Running Target, Single And Double Shot",
       "Shooting Men's Small-Bore Rifle, Any Position, 50 metres",
       "Shooting Men's Small-Bore Rifle, Disappearing Target, 25 metres",
       "Swimming Women's 10 kilometres Open Water",
       "Cycling Men's Team Pursuit, 1,980 yards",
       "Cycling Men's 5,000 metres", "Cycling Men's 100 kilometres",
       "Cricket Men's Cricket",

In [112]:
summer.Event.nunique()

651

In [113]:
summer.Medal.unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [114]:
summer.Medal.nunique()

3

In [115]:
summer.City.unique()

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Los Angeles',
       'Helsinki', 'Sydney', 'Atlanta', 'Stockholm', 'Beijing',
       'Rio de Janeiro', 'Athina', 'Mexico City', 'Munich', 'Seoul',
       'Berlin', 'Melbourne', 'Roma', 'Amsterdam', 'Montreal', 'Moskva',
       'Tokyo', 'St. Louis'], dtype=object)

In [116]:
summer.City.nunique()

23

In [117]:
summer.Sex.unique()

array(['M', 'F'], dtype=object)

In [118]:
summer.Sex.nunique()

2

# Winter Data

In [119]:
winter

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [120]:
winter.ID.unique()

array([     5,      6,      7, ..., 135569, 135570, 135571], dtype=int64)

In [121]:
winter.ID.nunique()

18958

In [122]:
winter.Name.unique()

array(['Christine Jacoba Aaftink', 'Per Knut Aaland', 'John Aalberg', ...,
       'Andrzej ya', 'Piotr ya', 'Tomasz Ireneusz ya'], dtype=object)

In [123]:
winter.Name.nunique()

18923

In [124]:
winter.Sex.unique()

array(['F', 'M'], dtype=object)

In [125]:
winter.Sex.nunique()

2

In [126]:
winter.Age.unique()

array([21., 25., 27., 31., 33., 26., 22., 32., 28., 20., 30., 34., 24.,
       17., 23., 29., 15., 19., 35., 38., 40., 44., 48., 16., 37., 18.,
       36., 43., 41., 14., 13., 39., 46., nan, 47., 42., 57., 45., 53.,
       11., 50., 12., 49., 52., 58., 51., 54., 55.])

In [127]:
winter.Age.nunique()

47

In [128]:
winter.Height.unique()

array([185., 188., 183., 186., 182., 171., 184., 176.,  nan, 169., 190.,
       168., 164., 175., 178., 181., 165., 150., 166., 187., 180., 167.,
       179., 170., 200., 156., 173., 177., 163., 160., 162., 158., 174.,
       172., 192., 155., 193., 154., 189., 157., 191., 194., 196., 197.,
       161., 159., 151., 198., 152., 195., 153., 199., 205., 148., 206.,
       149., 211., 201., 145., 142., 137., 143., 147., 203., 146.])

In [129]:
winter.Height.nunique()

64

In [130]:
winter.Weight.unique()

array([ 82. ,  75. ,  72. ,  96. ,  76.5,  65. ,  85. ,   nan,  98. ,
        73. ,  55. ,  58. ,  64. ,  70. ,  67. , 102. ,  80. ,  76. ,
        43. ,  68. ,  60. ,  87. ,  77. ,  81. ,  84. ,  94. ,  62. ,
        63. ,  69. ,  99. , 104. ,  56. ,  51. ,  95. ,  74. ,  52. ,
       110. ,  86. ,  88. ,  78. ,  90. ,  66. ,  61. ,  54. ,  59. ,
        97. ,  47. ,  89. ,  93. ,  57. ,  92. ,  79. , 100. ,  53. ,
        83. ,  50. ,  91. ,  48. ,  71. , 103. , 105. , 127. ,  45. ,
        49. ,  53.5,  46. , 101. ,  40. , 106. ,  41. , 115. ,  42. ,
        66.5, 111. ,  44. , 107. , 109. , 116. , 114. , 108. , 113. ,
        73.5,  70.5,  62.5,  74.5,  35. ,  75.5,  56.5,  65.5, 123. ,
        38. ,  61.5,  59.5,  63.5,  87.5,  88.5,  68.5,  82.5,  55.5,
        81.5,  36. ,  67.5,  69.5,  49.5,  79.5,  34. ,  32. ,  86.5,
        83.5, 112. ,  71.5, 130. ,  97.5,  90.5,  77.5,  72.5,  54.5,
        52.5,  64.5,  91.5,  84.5,  89.5,  78.5,  93.5,  92.5, 145. ])

In [131]:
winter.Weight.nunique()

125

In [132]:
winter.NOC.unique()

array(['NED', 'USA', 'FIN', 'NOR', 'EST', 'PAK', 'IRI', 'ITA', 'JPN',
       'CAN', 'FRG', 'ARG', 'SWE', 'ISV', 'SUI', 'FRA', 'UKR', 'LAT',
       'ESP', 'LIB', 'GEO', 'BLR', 'RUS', 'CRO', 'BUL', 'GER', 'POL',
       'ROU', 'URS', 'AUS', 'GBR', 'TCH', 'CZE', 'GDR', 'KAZ', 'BEL',
       'TOG', 'TUR', 'UZB', 'TTO', 'KOR', 'IND', 'MAR', 'DEN', 'AUT',
       'YUG', 'MON', 'GRE', 'ARM', 'EUN', 'HUN', 'MGL', 'MEX', 'PUR',
       'PRK', 'CHN', 'CHI', 'AZE', 'AND', 'BRA', 'BOL', 'NZL', 'LTU',
       'CYP', 'ISL', 'SVK', 'BIH', 'MDA', 'TGA', 'GUM', 'IRL', 'SMR',
       'SLO', 'LIE', 'ISR', 'ALG', 'POR', 'TPE', 'VEN', 'KEN', 'KGZ',
       'RSA', 'JAM', 'GUA', 'MNE', 'SRB', 'NEP', 'CRC', 'PER', 'AHO',
       'PHI', 'IVB', 'MKD', 'COL', 'DMA', 'SCG', 'TJK', 'EGY', 'SWZ',
       'LUX', 'SEN', 'TLS', 'HKG', 'URU', 'IOA', 'ASA', 'PAR', 'ALB',
       'CMR', 'BER', 'THA', 'GHA', 'HON', 'MLT', 'MAD', 'FIJ', 'ZIM',
       'ETH', 'CAY'], dtype=object)

In [133]:
winter.NOC.nunique()

119

In [134]:
winter.Team.unique()

array(['Netherlands', 'United States', 'Finland', 'Norway', 'Estonia',
       'Pakistan', 'Iran', 'Italy', 'Japan-1', 'Japan', 'Canada',
       'West Germany', 'Argentina', 'Sweden',
       'United States Virgin Islands', 'Switzerland', 'France-1',
       'Ukraine', 'Latvia', 'Spain', 'Lebanon', 'Georgia', 'Belarus',
       'Russia', 'Croatia', 'Russia-2', 'Russia-1', 'Bulgaria', 'Germany',
       'Poland', 'France-2', 'Romania', 'Soviet Union', 'Switzerland-2',
       'Switzerland-1', 'Australia', 'Great Britain-1', 'Czechoslovakia',
       'Czech Republic', 'Great Britain', 'East Germany', 'France',
       'Germany-2', 'Kazakhstan', 'Belgium', 'Togo', 'Turkey',
       'Uzbekistan', 'Great Britain-2', 'United States-1',
       'United States-2', 'Argentina-2', 'Trinidad and Tobago',
       'South Korea', 'Sweden-2', 'Sweden-1', 'India', 'Italy-2',
       'Morocco', 'Denmark', 'Canada-2', 'Canada-1', 'Austria',
       'Yugoslavia', 'Soviet Union-2', 'Soviet Union-1', 'Monaco',
       'Greece', 'Armenia', 'Unified Team', 'Hungary', 'Spain-1',
       'Mongolia', 'Mexico', 'Norway-2', 'Norway-1', 'Italy-1',
       'Puerto Rico-2', 'Puerto Rico', 'North Korea', 'China',
       'Germany-3', 'Romania-2', 'Chile', 'Azerbaijan', 'Soviet Union-3',
       'Andorra', 'Japan-2', 'Brazil', 'Austria-1', 'Austria-2',
       'Bolivia', 'Canada-3', 'New Zealand', 'Lithuania', 'Latvia-2',
       'Cyprus', 'Germany-1', 'Iceland', 'Latvia-1', 'West Germany-2',
       'Bulgaria-1', 'Ukraine-2', 'Russia-3', 'United States-3',
       'Slovakia', 'Bosnia and Herzegovina', 'East Germany-1',
       'West Germany-1', 'East Germany-2', 'Moldova', 'Tonga', 'Guam',
       'Ireland', 'Great Britain-3', 'Czechoslovakia-1',
       'Czechoslovakia-2', 'San Marino', 'Spain-2', 'Slovenia',
       'Unified Team-2', 'Liechtenstein', 'Israel-2', 'Algeria',
       'Romania-1', 'Portugal', 'Italy-3', 'Monaco-1', 'Chinese Taipei',
       'Venezuela', 'Puerto Rico-1', 'Czech Republic-2', 'Kenya',
       'Kyrgyzstan', 'Unified Team-1', 'Bulgaria-2', 'South Africa',
       'Belgium-1', 'Netherlands-2', 'Netherlands-1', 'Jamaica',
       'Guatemala', 'Montenegro', 'Serbia', 'Nepal',
       'United States Virgin Islands-2', 'United States Virgin Islands-1',
       'Israel', 'Monaco-2', 'Costa Rica', 'Peru', 'Netherlands Antilles',
       'Mexico-2', 'Israel-1', 'Chinese Taipei-1', 'Chinese Taipei-2',
       'Poland-2', 'Poland-1', 'Philippines', 'British Virgin Islands',
       'Macedonia', 'Czech Republic-1', 'Argentina-1', 'Belgium-2',
       'France-3', 'Colombia', 'Australia-1', 'Dominica', 'Ireland-2',
       'Serbia and Montenegro', 'Tajikistan', 'Egypt', 'Mexico-1',
       'Hungary-1', 'Yugoslavia-1', 'Swaziland', 'Luxembourg', 'Senegal',
       'Timor Leste', 'Unified Team-3', 'Ukraine-1', 'Hong Kong',
       'Australia-2', 'Jamaica-2', 'New Zealand-1', 'Uruguay',
       'Slovakia-1', 'South Korea-2', 'South Korea-1', 'Yugoslavia-2',
       'East Germany-3', 'Individual Olympic Athletes', 'American Samoa',
       'Luxembourg-2', 'Portugal-2', 'Paraguay', 'Ireland-1', 'Albania',
       'Cameroon', 'Bermuda', 'Thailand', 'Hungary-2', 'Ghana',
       'Uzbekistan-2', 'Honduras', 'China-2', 'China-1', 'Malta',
       'New Zealand-2', 'Portugal-1', 'Madagascar', 'Uzbekistan-1',
       'Fiji', 'China-3', 'Slovakia-2', 'Zimbabwe', 'Jamaica-1',
       'West Germany-3', 'Ethiopia', 'Cayman Islands', 'Luxembourg-1'],
      dtype=object)

In [135]:
winter.Team.nunique()

221

In [136]:
winter.Games.unique()

array(['1988 Winter', '1992 Winter', '1994 Winter', '2002 Winter',
       '1980 Winter', '2014 Winter', '1998 Winter', '2006 Winter',
       '1960 Winter', '1964 Winter', '1984 Winter', '1952 Winter',
       '1956 Winter', '2010 Winter', '1968 Winter', '1972 Winter',
       '1976 Winter', '1924 Winter', '1928 Winter', '1948 Winter',
       '1932 Winter', '1936 Winter'], dtype=object)

In [137]:
winter.Games.nunique()

22

In [138]:
winter.Sport.unique()

array(['Speed Skating', 'Cross Country Skiing', 'Ice Hockey', 'Biathlon',
       'Alpine Skiing', 'Luge', 'Bobsleigh', 'Figure Skating',
       'Nordic Combined', 'Freestyle Skiing', 'Ski Jumping', 'Curling',
       'Snowboarding', 'Short Track Speed Skating', 'Skeleton',
       'Military Ski Patrol', 'Alpinism'], dtype=object)

In [139]:
winter.Sport.nunique()

17

In [140]:
winter.Year.unique()

array([1988, 1992, 1994, 2002, 1980, 2014, 1998, 2006, 1960, 1964, 1984,
       1952, 1956, 2010, 1968, 1972, 1976, 1924, 1928, 1948, 1932, 1936],
      dtype=int64)

In [141]:
winter.Year.nunique()

22

In [142]:
winter.Season.unique()

array(['Winter'], dtype=object)

In [144]:
winter.Season.nunique()

1

In [145]:
winter.City.unique()

array(['Calgary', 'Albertville', 'Lillehammer', 'Salt Lake City',
       'Lake Placid', 'Sochi', 'Nagano', 'Torino', 'Squaw Valley',
       'Innsbruck', 'Sarajevo', 'Oslo', "Cortina d'Ampezzo", 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)

In [146]:
winter.City.nunique()

19

In [147]:
winter.Event.unique()

array(["Speed Skating Women's 500 metres",
       "Speed Skating Women's 1,000 metres",
       "Cross Country Skiing Men's 10 kilometres",
       "Cross Country Skiing Men's 50 kilometres",
       "Cross Country Skiing Men's 10/15 kilometres Pursuit",
       "Cross Country Skiing Men's 4 x 10 kilometres Relay",
       "Cross Country Skiing Men's 30 kilometres",
       "Ice Hockey Men's Ice Hockey",
       "Biathlon Women's 7.5 kilometres Sprint",
       "Alpine Skiing Men's Downhill", "Alpine Skiing Men's Super G",
       "Alpine Skiing Men's Giant Slalom", "Alpine Skiing Men's Slalom",
       "Alpine Skiing Men's Combined", "Speed Skating Men's 500 metres",
       "Speed Skating Men's 1,500 metres", "Luge Women's Singles",
       "Bobsleigh Men's Four", "Speed Skating Men's 5,000 metres",
       "Speed Skating Men's 10,000 metres",
       "Cross Country Skiing Men's 15 kilometres",
       "Alpine Skiing Women's Slalom", "Figure Skating Men's Singles",
       'Figure Skating Mixed Team', "Bobsleigh Men's Two",
       "Nordic Combined Men's Team", "Nordic Combined Men's Individual",
       "Biathlon Men's 10 kilometres Sprint",
       "Biathlon Men's 20 kilometres",
       "Biathlon Men's 4 x 7.5 kilometres Relay",
       "Freestyle Skiing Men's Moguls", 'Figure Skating Mixed Pairs',
       "Freestyle Skiing Men's Aerials",
       "Alpine Skiing Women's Giant Slalom",
       "Alpine Skiing Women's Super G",
       "Cross Country Skiing Women's 5 kilometres",
       "Cross Country Skiing Women's 10 kilometres",
       "Cross Country Skiing Women's 20 kilometres",
       "Biathlon Men's 12.5 kilometres Pursuit",
       'Biathlon Mixed 2 x 6 kilometres and 2 x 7.5 kilometres Relay',
       "Speed Skating Women's 1,500 metres",
       "Speed Skating Women's Team Pursuit (6 laps)",
       "Cross Country Skiing Men's Sprint",
       "Figure Skating Women's Singles",
       "Speed Skating Men's 1,000 metres",
       "Cross Country Skiing Women's 3 x 5 kilometres Relay",
       "Nordic Combined Men's Sprint", "Alpine Skiing Women's Combined",
       "Ski Jumping Men's Normal Hill, Individual",
       "Ice Hockey Women's Ice Hockey", "Curling Men's Curling",
       "Biathlon Women's 15 kilometres",
       "Biathlon Women's 3 x 7.5 kilometres Relay",
       "Biathlon Women's 4 x 7.5 kilometres Relay",
       "Curling Women's Curling", "Freestyle Skiing Men's Slopestyle",
       "Alpine Skiing Women's Downhill",
       "Freestyle Skiing Women's Halfpipe",
       "Cross Country Skiing Men's 18 kilometres",
       'Figure Skating Mixed Ice Dancing',
       "Cross Country Skiing Women's 30 kilometres",
       "Cross Country Skiing Women's 15 km Skiathlon",
       "Snowboarding Men's Halfpipe",
       "Ski Jumping Men's Large Hill, Individual",
       "Ski Jumping Men's Large Hill, Team",
       "Freestyle Skiing Women's Aerials",
       "Short Track Speed Skating Men's 5,000 metres Relay",
       "Biathlon Women's 10 kilometres Pursuit",
       "Biathlon Women's 12.5 kilometres Mass Start",
       "Biathlon Women's 4 x 6 kilometres Relay",
       "Skeleton Men's Skeleton", "Luge Men's Singles",
       "Luge Mixed (Men)'s Doubles", "Speed Skating Women's 3,000 metres",
       "Cross Country Skiing Women's 5/10 kilometres Pursuit",
       "Cross Country Skiing Women's 4 x 5 kilometres Relay",
       "Cross Country Skiing Women's 15 kilometres",
       "Cross Country Skiing Women's 5/5 kilometres Pursuit",
       "Skeleton Women's Skeleton", "Bobsleigh Men's Four/Five",
       "Short Track Speed Skating Women's 3,000 metres Relay",
       "Freestyle Skiing Women's Moguls",
       "Short Track Speed Skating Men's 500 metres",
       "Cross Country Skiing Men's 10/10 kilometres Pursuit",
       "Ski Jumping Women's Normal Hill, Individual",
       "Short Track Speed Skating Men's 1,000 metres",
       "Short Track Speed Skating Men's 1,500 metres",
       "Cross Country Skiing Men's Team Sprint",
       "Snowboarding Women's Halfpipe",
       "Cross Country Skiing Women's Sprint",
       "Snowboarding Women's Slopestyle",
       "Snowboarding Men's Giant Slalom",
       "Snowboarding Men's Parallel Giant Slalom",
       "Snowboarding Men's Boardercross",
       "Snowboarding Men's Parallel Slalom",
       "Cross Country Skiing Women's Team Sprint",
       "Biathlon Men's 15 kilometres Mass Start",
       "Cross Country Skiing Men's 30 km Skiathlon",
       "Speed Skating Men's Team Pursuit (8 laps)",
       "Speed Skating Women's 5,000 metres",
       "Snowboarding Women's Boardercross", 'Luge Mixed Team Relay',
       "Bobsleigh Women's Two",
       "Military Ski Patrol Men's Military Ski Patrol",
       "Freestyle Skiing Women's Slopestyle",
       "Short Track Speed Skating Women's 500 metres",
       "Short Track Speed Skating Women's 1,000 metres",
       "Freestyle Skiing Women's Ski Cross",
       "Freestyle Skiing Men's Ski Cross",
       "Nordic Combined Men's Normal Hill / 10 km, Individual",
       "Nordic Combined Men's Large Hill / 10 km, Individual",
       "Short Track Speed Skating Women's 1,500 metres",
       "Snowboarding Women's Giant Slalom",
       "Snowboarding Men's Slopestyle", "Freestyle Skiing Men's Halfpipe",
       "Snowboarding Women's Parallel Giant Slalom",
       "Speed Skating Men's Allround",
       "Snowboarding Women's Parallel Slalom", 'Alpinism Mixed Alpinism'],
      dtype=object)

In [148]:
winter.Event.nunique()

119

In [149]:
winter.Medal.unique()

array([nan, 'Bronze', 'Gold', 'Silver'], dtype=object)

In [150]:
winter.Medal.nunique()

3