# LIST COMPREHENSION - CODE CHALLENGE

***

### Double

In [4]:
# Create a new list named double_nums by multiplying each number in nums by two.
nums =[2,5,3,6,7,89,34,56]
double_nums = [num*2 for num in nums]
double_nums

[4, 10, 6, 12, 14, 178, 68, 112]

In [5]:
marks = [22,34,12,56]
extra_marks = [mark*2 for mark in marks]
extra_marks

[44, 68, 24, 112]

### Squares
For this list comprehension, you will need to make use of range and number squaring.

In [6]:
nums = range(11)
squares = [square*square for square in nums ]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Add Ten

In [7]:
nums = [4, 8, 15, 16, 23, 42]
add_ten = [num+10 for num in nums]
print(add_ten)

[14, 18, 25, 26, 33, 52]

### Divide By Two

In [11]:
num = [2,5,6,7,8,9,12,34,56,78]
devided_by_two = [nums/2 for nums in num]
print(devided_by_two)

[1.0, 2.5, 3.0, 3.5, 4.0, 4.5, 6.0, 17.0, 28.0, 39.0]

### Parity
In Python, %, or the modulo function, returns a remainder after a division.

In [13]:
nums = [4, 8, 15, 16, 23, 42]
parity = [num%2 for num in nums]
print(parity)

[0, 0, 1, 0, 1, 0]

### Add Hello

In [14]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

greetings = ["Hello, "+name for name in names]
print(greetings)

['Hello, Elaine', 'Hello, George', 'Hello, Jerry', 'Hello, Cosmo']

### First Character

In [15]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

first_character = [name[0] for name in names]
print(first_character)

['E', 'G', 'J', 'C']

In [16]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

first_character = [name[1] for name in names]
print(first_character)

['l', 'e', 'e', 'o']

In [17]:
names = ["Elaine", "George", "Jerry", "Cosmo"]

first_character = [name[3] for name in names]
print(first_character)

['i', 'r', 'r', 'm']

### Size

In [18]:
  names = ["Elaine", "George", "Jerry", "Cosmo"]
lenghts = [len(name) for name in names]
print(lenghts)

[6, 6, 5, 5]

### Opposite

In [19]:
booleans = [True, False, True]
opposite = [not bool for bool in booleans]
print(opposite)

[False, True, False]

### Same String

In [22]:
names = ["iqra","Elaine", "George", "iqra", "Jerry", "Cosmo", "iqra"]
is_iqra = [name == "iqra" for name in names]
print(is_iqra)

[True, False, False, True, False, False, True]

### Greater Than Two

In [23]:
nums = [5, -10, 40, 20, 0]
greater_than_two = [num > 2 for num in nums]
print(nums)

[5, -10, 40, 20, 0]

### product

In [25]:
nested_lists = [[4, 8], [15, 16], [23, 42]]

product  = [num1*num2 for(num1, num2) in nested_lists]

print(product)

[32, 240, 966]

### Greater Than

In [26]:
nested_lists = [[4, 8], [16, 15], [23, 42]]
greater_than = [num1 > num2 for(num1, num2) in nested_lists]
print(greater_than)

[False, True, False]

### First Only

In [27]:
nested_lists = [[4, 8], [16, 15], [23, 42]]
first_only = [num[0] for num in nested_lists]
print(first_only)

[4, 16, 23]

### Add With Zip

In [28]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]
sums = [c+d for(c,d) in zip(a,b)]
print(sums)

[5.0, 7.0, 9.0]

### Divide With Zip

In [39]:
a = [1.0, 2.0, 3.0]
b = [4.0, 5.0, 6.0]
quotients = [c / d for (d, c)  in zip(a, b)]

print(quotients)

[4.0, 2.5, 2.0]

### Capitals

In [40]:
capitals = ["Santiago", "Paris", "Copenhagen"]
countries = ["Chile", "France", "Denmark"]
locations = [capital + ", " + country for (capital, country) in zip(capitals, countries)]
print(locations)

['Santiago, Chile', 'Paris, France', 'Copenhagen, Denmark']

### Ages

In [42]:
names = ["Shilah", "Arya", "Kele"]
ages = [14, 9, 35]
users = ["Name: " + name + ", Age: " + str(age) for (name, age) in zip(names, ages) ]
users

['Name: Shilah, Age: 14', 'Name: Arya, Age: 9', 'Name: Kele, Age: 35']

### Greater Than With Zip

In [43]:
a = [30, 42, 10]
b = [15, 16, 17]
greater_than = [a1 > b1 for(a1, b1) in zip(a,b)  ]
print(greater_than)

[True, True, False]

# Python Loops: Medical Insurance Project

***

In [46]:
#create a list of names
names = ["Judith", "Abel", "Tyson", "Martha", "Beverley", "David", "Anabel"]

#create estimated insurance cost for every name
estimated_insurance_costs = [1000.0, 2000.0, 3000.0, 4000.0, 5000.0, 6000.0, 7000.0]

#actual insurance cost list
actual_insurance_costs = [1100.0, 2200.0, 3300.0, 4400.0, 5500.0, 6600.0, 7700.0]

#Create a variable total_cost and initialize it to 0.
total_cost = 0

#Use a for loop to iterate through actual_insurance_costs and add each insurance cost to the variable total_cost.
for actual_cost in actual_insurance_costs:
    print(actualt_cost)
    total_cost += actual_cost

NameError: name 'actualt_cost' is not defined