# Grouping and Aggregating Your Data
the Pandas Python library offers grouping and aggregation functions to help you accomplish task like he sum, mean, or average value of a group of elements

In [5]:
import pandas as pd
df = pd.read_csv("Desktop/Iris.csv")

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# .SUM()

In [7]:
df['SepalLengthCm'].sum()

876.5

In [10]:
total_length = df['SepalLengthCm']
total_length.sum()

876.5

# .MAX()

In [8]:
df['SepalLengthCm'].max()

7.9

In [11]:
max_length = df['SepalLengthCm']
max_length.max()

7.9

The first method returns the total of SepalLengthCm, while the second returns the max value.

In [38]:
df['PetalWidthCm'].min()

0.1

In [39]:
df['PetalWidthCm'].mean()

1.1986666666666672

***

# Grouping
A DataFrame can have multiple columns, which introduces new possibilities for aggregations,like grouping.

In [19]:
df.groupby('Species')['SepalLengthCm'].sum()

Species
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: SepalLengthCm, dtype: float64

In [41]:
df.groupby('Species')['SepalLengthCm'].min()

Species
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: SepalLengthCm, dtype: float64

In [42]:
df.groupby('Species')['SepalLengthCm'].max()

Species
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: SepalLengthCm, dtype: float64

In [43]:
df.groupby('Species')['SepalLengthCm'].mean()

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [20]:
df.groupby('Species', sort=False)['SepalLengthCm'].sum()

Species
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: SepalLengthCm, dtype: float64

# NOTE :
By default, Pandas sorts the group keys during the call to .groupby(). If you donâ€™t want to sort, then pass sort=False. This parameter can lead to performance gains.

#  Grouping by multiple columns

In [37]:
df[
    (df['Species'] == 'Iris-setosa') &
    (df['SepalLengthCm'] ) 
].groupby(['PetalWidthCm']).count()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  Species
PetalWidthCm
0.1            6              6             6              6        6
0.2           28             28            28             28       28
0.3            7              7             7              7        7
0.4            7              7             7              7        7
0.5            1              1             1              1        1
0.6            1              1             1              1        1