# Manipulating Columns

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Desktop/Iris.csv")

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
df.shape

(150, 6)

In [5]:
d = df.copy()

In [6]:
d.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
d.shape

(150, 6)

#  define new columns based on the existing ones

In [13]:
d['difference'] = d.SepalLengthCm - d.PetalLengthCm

In [14]:
d.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,difference
0,1,5.1,3.5,1.4,0.2,Iris-setosa,3.7
1,2,4.9,3.0,1.4,0.2,Iris-setosa,3.5
2,3,4.7,3.2,1.3,0.2,Iris-setosa,3.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,3.1
4,5,5.0,3.6,1.4,0.2,Iris-setosa,3.6

In [16]:
# a new column is recorded. 
d.shape

(150, 7)

In [18]:
# used an aggregation function .max() to find the largest value of new column.
d['difference'].max()

4.6

# rename the columns of dataset.

In [27]:
"""rename_column = d.rename(
    {'Species':'Different Species of flowers'}

)"""


renamed_df = d.rename(columns={"Species": "result", "difference": "Difference"})
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
result           150 non-null object
Difference       150 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 8.3+ KB

# dataset might contain columns that you don’t need

In [ ]:
id_column = ['Id']
d.drop(id_column, inplace = True , axis = 1)

In [33]:
d.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,difference
0,5.1,3.5,1.4,0.2,Iris-setosa,3.7
1,4.9,3.0,1.4,0.2,Iris-setosa,3.5
2,4.7,3.2,1.3,0.2,Iris-setosa,3.4
3,4.6,3.1,1.5,0.2,Iris-setosa,3.1
4,5.0,3.6,1.4,0.2,Iris-setosa,3.6

In [34]:
# Remember,  added the new column "difference" in a previous example, 
d.shape

(150, 6)